{% extends "socialnetwork/base.html" %}

{% block user-info %}
	<div>
		<span id="id_logged_in_user_name">
			{{profile.fname}} {{profile.lname}}
		</span>
		<div class="dropdown">
			<button class="drop-button" id="id_show_nav_button">
				<b>&darr;</b>
			</button>
			<div class="drop-content">
				<a href="{% url 'global_stream'%}" id="id_nav_global_stream"> Global Stream </a>
				<a href="{% url 'follower_stream' %}" id="id_nav_follower_stream"> Follower Stream </a>
				<a href="{% url 'user_profile_page' %}" id="id_nav_profile"> My Profile </a>
				<a href="{% url 'logout' %}" id="id_nav_logout"> Logout </a>
			</div>
		</div>
	</div>
{% endblock %}

{% block page-name %}
<span id="id_name_of_page">
	Global Stream	
</span>
{% endblock %}

{% block content %}
<div class="new-post">
	<form method='post' action="{% url 'create_post'%}">
		New Post: 
		<input type="text" id="id_post_input_text" name="post_input">
		<input type="submit" id="id_post_button">
		{% csrf_token %}
	</form>
</div>
{% for error in errors %}
<div class="error">
    {{error}}
</div>
{% endfor %}

<div class="post-feed">
	{% for post in posts %}
		<div class="post">
			<a href="{% url 'goto_profile' post.user %}" 
			method="get" id="id_post_profile_{{post.user.id}}">
				<i>Post by {{post.fname}} {{post.lname}} - </i>
			</a>
			<span id="id_post_text_{{post.user.id}}">
				{{post.text}} -
			</span>
			<span id="id_post_date_time_{{post.user.id}}'">
				<i>{{post.date}}</i>
			</span>
		</div>
	{% endfor %}
</div>


{% endblock %}