{% extends "socialnetwork/base.html" %}

{% block user-info %}
	<div>
		<span id="id_logged_in_user_name">
			{{c_user.fname}} {{c_user.lname}}
		</span>
		<div class="dropdown">
			<button class="drop-button" id="id_show_nav_button">
				<b>&darr;</b>
			</button>
			<div class="drop-content">
				<a href="{% url 'global_stream' %}" id="id_nav_global_stream"> Global Stream </a>
				<a href="{% url 'follower_stream' %}" id="id_nav_follower_stream"> Follower Stream </a>
				<a href="{% url 'user_profile_page' %}" id="id_nav_profile"> My Profile </a>
				<a href="{% url 'logout' %}" id="id_nav_logout"> Logout </a>
			</div>
		</div>
	</div>
{% endblock %}

{% block page-name %}
<div>
	<span id="id_name_of_page">
		{{c_user.fname}} {{c_user.lname}} Profile
	</span>
</div>

{% endblock %}

{% block content %}
<form action="add_photo" method="post" enctype="multipart/form-data">
	<div class="profile-image">
		{% if not c_user.picture %}
		<img src="static/img/default.png" id="id_user_picture" width="260" height="340">
		{% else %}
		<img src="{% url 'photo' c_user.id %}" id="id_user_picture" width="260" height="340">
		{% endif %}

	</div>
	<div class="profile-text">
		<textarea type="text" class="bio-text" id="id_bio_input_text" cols="55" name="bio_text">{{c_user.bio}}</textarea>
	</div>
	<div class="submission-button">
	<table>
	    {% for field in form.visible_fields %}
	        <tr>
	            <td>{{field.label_tag}}</td>
	            <td>{{field}}</td>
	            <td class="error">
	                {% for error in field.errors %} {{error}} {% endfor %}
	            </td>
	        </tr>
	    {% endfor %}
	    <tr><td colspan="3"><input type="submit" value="Submit"></td></tr>
	</table>
	</div>
	{% csrf_token %}
</form>
<div class="followers">
	You are following: 
	<ul>
		{% for followed in following %}
		<a 
		href="{% url 'goto_profile' followed %}" 
		method="get"
		><li id="id_profile_link_{{followed.user.id}}"> {{followed.first_name}} {{followed.last_name}} </li></a>
		{% endfor %}
	</ul>
</div>
<div class="followers">

</div>
{% csrf_token %}
{% endblock %}